* {
    padding: 0;
    margin: 0;
    /* box-sizinh: border-box; */

}

.hero-card {

    width: 400px;
    background-color: blueviolet;
    padding: 20px;
    border-radius: 20%;
    overflow: hidden;

}

.hero-card .background-image {

    width: 100%;

}

.hero-card .profile-image {

    display: block;
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    margin: 0 auto;

}