@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap'); 

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {

    background-color: #131313;    
}

h1 {
    
    font-weight: 500;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: bold;
    padding: 3px;
    margin-top: 10px;
    margin-bottom: 10px;
}


.review-score {

    color: white;
    background-color: #e6bd09;
    padding: 12px;
    margin-left: 4px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

.media-picture {

    height: 400px;
    background-image: url(https://s2.glbimg.com/2C0hMRuCY_7NfDPjby4_Bjmq8Nc=/e.glbimg.com/og/ed/f/original/2018/03/22/avengers-infinity-war-official-poster-2018-4o.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

h2 {

    font-family: 'Times New Roman', Times, serif;
    color: steelblue;
    padding: 3px;
    margin-top: 20px;
    margin-bottom: 10px;

}

p {
    color: #bdbdbd;
    font-family: 'Roboto', sans-serif;
    padding: 3px;
    margin-bottom: 10px;
    text-align: justify;
    margin-right: 30px;
    

}

a {
    color: yellow;
    padding: 3px;
    padding-bottom: 10px;
}